# coding: utf-8

"""
    Zoom Phone API

    The Zoom Phone API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [OAuth](https://developers.zoom.us/docs/integrations/oauth/) documentation. All endpoints are available via `https` and are located at `api.zoom.us/v2/`.  For instance, you can list all users on an account via `https://api.zoom.us/v2/users/`.  **Note**: You will get `403` response `Zoom Phone has not been enabled for this account` if the phone account is not set up.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class CommonAreasApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_common_area(self, **kwargs):  # noqa: E501
        """Add a common area  # noqa: E501

        Use this API to add an instance of common area. Configure devices shared by users and deployed in shared spaces.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license * Account owner or admin permissions  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_common_area(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PhoneCommonAreasBody body:
        :return: InlineResponse20110
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_common_area_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.add_common_area_with_http_info(**kwargs)  # noqa: E501
            return data

    def add_common_area_with_http_info(self, **kwargs):  # noqa: E501
        """Add a common area  # noqa: E501

        Use this API to add an instance of common area. Configure devices shared by users and deployed in shared spaces.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license * Account owner or admin permissions  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_common_area_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PhoneCommonAreasBody body:
        :return: InlineResponse20110
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_common_area" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20110',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def add_common_area_setting(self, common_area_id, setting_type, **kwargs):  # noqa: E501
        """Add common area settings  # noqa: E501

        Use this API to add the common area setting according to the setting type, specifically for desk phones.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_common_area_setting(common_area_id, setting_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str setting_type: Corresponds to the setting item you wish to modify. Allowed values: `desk_phone` (required)
        :param SettingsSettingTypeBody body:
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_common_area_setting_with_http_info(common_area_id, setting_type, **kwargs)  # noqa: E501
        else:
            (data) = self.add_common_area_setting_with_http_info(common_area_id, setting_type, **kwargs)  # noqa: E501
            return data

    def add_common_area_setting_with_http_info(self, common_area_id, setting_type, **kwargs):  # noqa: E501
        """Add common area settings  # noqa: E501

        Use this API to add the common area setting according to the setting type, specifically for desk phones.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_common_area_setting_with_http_info(common_area_id, setting_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str setting_type: Corresponds to the setting item you wish to modify. Allowed values: `desk_phone` (required)
        :param SettingsSettingTypeBody body:
        :return: InlineResponse20113
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'setting_type', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_common_area_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `add_common_area_setting`")  # noqa: E501
        # verify the required parameter 'setting_type' is set
        if ('setting_type' not in params or
                params['setting_type'] is None):
            raise ValueError("Missing the required parameter `setting_type` when calling `add_common_area_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501
        if 'setting_type' in params:
            path_params['settingType'] = params['setting_type']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/settings/{settingType}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20113',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def assign_calling_plans_to_common_area(self, common_area_id, **kwargs):  # noqa: E501
        """Assign calling plans to a common area  # noqa: E501

        Use this API to assign calling plans to a common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_calling_plans_to_common_area(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param CommonAreaIdCallingPlansBody body:
        :return: InlineResponse20111
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assign_calling_plans_to_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
        else:
            (data) = self.assign_calling_plans_to_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
            return data

    def assign_calling_plans_to_common_area_with_http_info(self, common_area_id, **kwargs):  # noqa: E501
        """Assign calling plans to a common area  # noqa: E501

        Use this API to assign calling plans to a common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_calling_plans_to_common_area_with_http_info(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param CommonAreaIdCallingPlansBody body:
        :return: InlineResponse20111
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assign_calling_plans_to_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `assign_calling_plans_to_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/calling_plans', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20111',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def assign_phone_numbers_to_common_area(self, common_area_id, **kwargs):  # noqa: E501
        """Assign phone numbers to a common area  # noqa: E501

        Assign phone numbers to a common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_phone_numbers_to_common_area(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param CommonAreaIdPhoneNumbersBody body:
        :return: InlineResponse20112
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assign_phone_numbers_to_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
        else:
            (data) = self.assign_phone_numbers_to_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
            return data

    def assign_phone_numbers_to_common_area_with_http_info(self, common_area_id, **kwargs):  # noqa: E501
        """Assign phone numbers to a common area  # noqa: E501

        Assign phone numbers to a common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_phone_numbers_to_common_area_with_http_info(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param CommonAreaIdPhoneNumbersBody body:
        :return: InlineResponse20112
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assign_phone_numbers_to_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `assign_phone_numbers_to_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/phone_numbers', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20112',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_common_area(self, common_area_id, **kwargs):  # noqa: E501
        """Delete a common area  # noqa: E501

        Use this API to remove the common area.   **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scopes:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_common_area(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
            return data

    def delete_common_area_with_http_info(self, common_area_id, **kwargs):  # noqa: E501
        """Delete a common area  # noqa: E501

        Use this API to remove the common area.   **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scopes:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_common_area_with_http_info(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `delete_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_common_area_setting(self, common_area_id, setting_type, device_id, **kwargs):  # noqa: E501
        """Delete common area setting  # noqa: E501

        Use this API to remove the common area subsetting from desk phones.   **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scopes:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_common_area_setting(common_area_id, setting_type, device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str setting_type: Corresponds to the setting item you wish to modify. Allowed values: `desk_phone` (required)
        :param str device_id: Desk phone ID. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_common_area_setting_with_http_info(common_area_id, setting_type, device_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_common_area_setting_with_http_info(common_area_id, setting_type, device_id, **kwargs)  # noqa: E501
            return data

    def delete_common_area_setting_with_http_info(self, common_area_id, setting_type, device_id, **kwargs):  # noqa: E501
        """Delete common area setting  # noqa: E501

        Use this API to remove the common area subsetting from desk phones.   **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scopes:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_common_area_setting_with_http_info(common_area_id, setting_type, device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str setting_type: Corresponds to the setting item you wish to modify. Allowed values: `desk_phone` (required)
        :param str device_id: Desk phone ID. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'setting_type', 'device_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_common_area_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `delete_common_area_setting`")  # noqa: E501
        # verify the required parameter 'setting_type' is set
        if ('setting_type' not in params or
                params['setting_type'] is None):
            raise ValueError("Missing the required parameter `setting_type` when calling `delete_common_area_setting`")  # noqa: E501
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `delete_common_area_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501
        if 'setting_type' in params:
            path_params['settingType'] = params['setting_type']  # noqa: E501

        query_params = []
        if 'device_id' in params:
            query_params.append(('device_id', params['device_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/settings/{settingType}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_a_common_area(self, common_area_id, **kwargs):  # noqa: E501
        """Get common area details  # noqa: E501

        Use this API to get detailed information on the common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**<br> * Pro or a higher account with Zoom Phone license * Account owner or admin permissions  **Scopes:** `phone:read:admin`<br> **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_a_common_area(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :return: InlineResponse20020
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_a_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_a_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
            return data

    def get_a_common_area_with_http_info(self, common_area_id, **kwargs):  # noqa: E501
        """Get common area details  # noqa: E501

        Use this API to get detailed information on the common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**<br> * Pro or a higher account with Zoom Phone license * Account owner or admin permissions  **Scopes:** `phone:read:admin`<br> **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_a_common_area_with_http_info(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :return: InlineResponse20020
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_a_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `get_a_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20020',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_common_area_policy_details(self, **kwargs):  # noqa: E501
        """Get common area policy details  # noqa: E501

        Gets the common area policy details.  **Prerequisites:** * Pro or higher account plan with Zoom phone license  **Scope:** `phone:read:admin`   **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_common_area_policy_details(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse20022
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_common_area_policy_details_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_common_area_policy_details_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_common_area_policy_details_with_http_info(self, **kwargs):  # noqa: E501
        """Get common area policy details  # noqa: E501

        Gets the common area policy details.  **Prerequisites:** * Pro or higher account plan with Zoom phone license  **Scope:** `phone:read:admin`   **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_common_area_policy_details_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse20022
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_common_area_policy_details" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/policies/{policyType}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20022',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_common_area_settings(self, common_area_id, **kwargs):  # noqa: E501
        """Get common area settings  # noqa: E501

        Use this API to get common area settings.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:read:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_common_area_settings(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: (required)
        :return: InlineResponse20021
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_common_area_settings_with_http_info(common_area_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_common_area_settings_with_http_info(common_area_id, **kwargs)  # noqa: E501
            return data

    def get_common_area_settings_with_http_info(self, common_area_id, **kwargs):  # noqa: E501
        """Get common area settings  # noqa: E501

        Use this API to get common area settings.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:read:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_common_area_settings_with_http_info(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: (required)
        :return: InlineResponse20021
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_common_area_settings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `get_common_area_settings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/settings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20021',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_common_areas(self, **kwargs):  # noqa: E501
        """List common areas  # noqa: E501

        Use this API to list common areas under an account.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**  * Pro or a higher account with Zoom Phone license  * Account owner or admin permissions  **Scopes:** `phone:read:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Medium`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_common_areas(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The total number of records returned from a single API call.
        :param str next_page_token: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        :return: InlineResponse20019
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_common_areas_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_common_areas_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_common_areas_with_http_info(self, **kwargs):  # noqa: E501
        """List common areas  # noqa: E501

        Use this API to list common areas under an account.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**  * Pro or a higher account with Zoom Phone license  * Account owner or admin permissions  **Scopes:** `phone:read:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Medium`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_common_areas_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The total number of records returned from a single API call.
        :param str next_page_token: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        :return: InlineResponse20019
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_size', 'next_page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_common_areas" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'next_page_token' in params:
            query_params.append(('next_page_token', params['next_page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20019',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def unassign_calling_plans_from_common_area(self, common_area_id, type, **kwargs):  # noqa: E501
        """Unassign a calling plan from the common area  # noqa: E501

        Use this API to unassign a calling plan from the common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**  * A Pro or higher account with a Zoom Phone license  * An account owner or admin permissions   **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.unassign_calling_plans_from_common_area(common_area_id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str type: Zoom Phone [calling plan](https://marketplace.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans) to remove. (required)
        :param str billing_account_id: Billing account ID. If the common area is in India, the parameter is required.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.unassign_calling_plans_from_common_area_with_http_info(common_area_id, type, **kwargs)  # noqa: E501
        else:
            (data) = self.unassign_calling_plans_from_common_area_with_http_info(common_area_id, type, **kwargs)  # noqa: E501
            return data

    def unassign_calling_plans_from_common_area_with_http_info(self, common_area_id, type, **kwargs):  # noqa: E501
        """Unassign a calling plan from the common area  # noqa: E501

        Use this API to unassign a calling plan from the common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**  * A Pro or higher account with a Zoom Phone license  * An account owner or admin permissions   **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.unassign_calling_plans_from_common_area_with_http_info(common_area_id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str type: Zoom Phone [calling plan](https://marketplace.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans) to remove. (required)
        :param str billing_account_id: Billing account ID. If the common area is in India, the parameter is required.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'type', 'billing_account_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method unassign_calling_plans_from_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `unassign_calling_plans_from_common_area`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `unassign_calling_plans_from_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501

        query_params = []
        if 'billing_account_id' in params:
            query_params.append(('billing_account_id', params['billing_account_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/calling_plans/{type}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def unassign_phone_numbers_from_common_area(self, common_area_id, phone_number_id, **kwargs):  # noqa: E501
        """Unassign phone numbers from common area  # noqa: E501

        Use this API to unassign a phone number from a common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * A Pro or a higher account with a Zoom Phone license * An account owner or admin permissions  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.unassign_phone_numbers_from_common_area(common_area_id, phone_number_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str phone_number_id: The phone number or the phone number ID. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.unassign_phone_numbers_from_common_area_with_http_info(common_area_id, phone_number_id, **kwargs)  # noqa: E501
        else:
            (data) = self.unassign_phone_numbers_from_common_area_with_http_info(common_area_id, phone_number_id, **kwargs)  # noqa: E501
            return data

    def unassign_phone_numbers_from_common_area_with_http_info(self, common_area_id, phone_number_id, **kwargs):  # noqa: E501
        """Unassign phone numbers from common area  # noqa: E501

        Use this API to unassign a phone number from a common area.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * A Pro or a higher account with a Zoom Phone license * An account owner or admin permissions  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.unassign_phone_numbers_from_common_area_with_http_info(common_area_id, phone_number_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: Common area ID or common area extension ID. (required)
        :param str phone_number_id: The phone number or the phone number ID. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'phone_number_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method unassign_phone_numbers_from_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `unassign_phone_numbers_from_common_area`")  # noqa: E501
        # verify the required parameter 'phone_number_id' is set
        if ('phone_number_id' not in params or
                params['phone_number_id'] is None):
            raise ValueError("Missing the required parameter `phone_number_id` when calling `unassign_phone_numbers_from_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501
        if 'phone_number_id' in params:
            path_params['phoneNumberId'] = params['phone_number_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/phone_numbers/{phoneNumberId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_common_area(self, common_area_id, **kwargs):  # noqa: E501
        """Update common area  # noqa: E501

        Use this API to update the common area information.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**  * Pro or a higher account with Zoom Phone license * Account owner or admin permissions  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_common_area(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: (required)
        :param CommonAreasCommonAreaIdBody body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_common_area_with_http_info(common_area_id, **kwargs)  # noqa: E501
            return data

    def update_common_area_with_http_info(self, common_area_id, **kwargs):  # noqa: E501
        """Update common area  # noqa: E501

        Use this API to update the common area information.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:**  * Pro or a higher account with Zoom Phone license * Account owner or admin permissions  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_common_area_with_http_info(common_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: (required)
        :param CommonAreasCommonAreaIdBody body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_common_area" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `update_common_area`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_common_area_policy(self, **kwargs):  # noqa: E501
        """Update common area policy  # noqa: E501

        Updates a common area's [Zoom Phone](https://support.zoom.us/hc/en-us/categories/360001370051-Zoom-Phone) policy.  **Scopes:** `phone:write:admin`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`  **Prerequisites:**  * A Business or Enterprise account  * A Zoom Phone license  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_common_area_policy(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PoliciesPolicyTypeBody4 body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_common_area_policy_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.update_common_area_policy_with_http_info(**kwargs)  # noqa: E501
            return data

    def update_common_area_policy_with_http_info(self, **kwargs):  # noqa: E501
        """Update common area policy  # noqa: E501

        Updates a common area's [Zoom Phone](https://support.zoom.us/hc/en-us/categories/360001370051-Zoom-Phone) policy.  **Scopes:** `phone:write:admin`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`  **Prerequisites:**  * A Business or Enterprise account  * A Zoom Phone license  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_common_area_policy_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PoliciesPolicyTypeBody4 body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_common_area_policy" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/policies/{policyType}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_common_area_setting(self, common_area_id, setting_type, **kwargs):  # noqa: E501
        """Update common area settings  # noqa: E501

        Use this API to update the common area setting according to the setting type, specifically for desk phones.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_common_area_setting(common_area_id, setting_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: (required)
        :param str setting_type: Corresponds to the setting item you wish to modify. Allowed values: `desk_phone` (required)
        :param SettingsSettingTypeBody1 body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_common_area_setting_with_http_info(common_area_id, setting_type, **kwargs)  # noqa: E501
        else:
            (data) = self.update_common_area_setting_with_http_info(common_area_id, setting_type, **kwargs)  # noqa: E501
            return data

    def update_common_area_setting_with_http_info(self, common_area_id, setting_type, **kwargs):  # noqa: E501
        """Update common area settings  # noqa: E501

        Use this API to update the common area setting according to the setting type, specifically for desk phones.  **Note**: For use by customers who opted for `Common Area Optimization`    **Prerequisites:** * Pro or a higher account with Zoom Phone license. * Account owner or admin permissions.  **Scope:** `phone:write:admin`   **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_common_area_setting_with_http_info(common_area_id, setting_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str common_area_id: (required)
        :param str setting_type: Corresponds to the setting item you wish to modify. Allowed values: `desk_phone` (required)
        :param SettingsSettingTypeBody1 body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['common_area_id', 'setting_type', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_common_area_setting" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'common_area_id' is set
        if ('common_area_id' not in params or
                params['common_area_id'] is None):
            raise ValueError("Missing the required parameter `common_area_id` when calling `update_common_area_setting`")  # noqa: E501
        # verify the required parameter 'setting_type' is set
        if ('setting_type' not in params or
                params['setting_type'] is None):
            raise ValueError("Missing the required parameter `setting_type` when calling `update_common_area_setting`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'common_area_id' in params:
            path_params['commonAreaId'] = params['common_area_id']  # noqa: E501
        if 'setting_type' in params:
            path_params['settingType'] = params['setting_type']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/common_areas/{commonAreaId}/settings/{settingType}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
