# coding: utf-8

"""
    Zoom Phone API

    The Zoom Phone API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [OAuth](https://developers.zoom.us/docs/integrations/oauth/) documentation. All endpoints are available via `https` and are located at `api.zoom.us/v2/`.  For instance, you can list all users on an account via `https://api.zoom.us/v2/users/`.  **Note**: You will get `403` response `Zoom Phone has not been enabled for this account` if the phone account is not set up.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SMSCampaignApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def assign_campaign_phone_numbers(self, sms_campaign_id, **kwargs):  # noqa: E501
        """Assign a phone number to SMS campaign  # noqa: E501

        Use this API to [assign a phone number to the SMS campaign](https://support.zoom.us/hc/en-us/articles/5016496738445-SMS-MMS-10DLC-Compliance-for-Zoom-Phone-and-Zoom-Contact-Center#h_01FYVVQM1WMW5JD48YNY3J581B).  **Prerequisites:**  * A Business or Enterprise account  * A Zoom Phone license  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_campaign_phone_numbers(sms_campaign_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sms_campaign_id: (required)
        :param SmsCampaignIdPhoneNumbersBody body: Provide either the phone number ID or the phone number in the request body.
        :return: InlineResponse20131
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assign_campaign_phone_numbers_with_http_info(sms_campaign_id, **kwargs)  # noqa: E501
        else:
            (data) = self.assign_campaign_phone_numbers_with_http_info(sms_campaign_id, **kwargs)  # noqa: E501
            return data

    def assign_campaign_phone_numbers_with_http_info(self, sms_campaign_id, **kwargs):  # noqa: E501
        """Assign a phone number to SMS campaign  # noqa: E501

        Use this API to [assign a phone number to the SMS campaign](https://support.zoom.us/hc/en-us/articles/5016496738445-SMS-MMS-10DLC-Compliance-for-Zoom-Phone-and-Zoom-Contact-Center#h_01FYVVQM1WMW5JD48YNY3J581B).  **Prerequisites:**  * A Business or Enterprise account  * A Zoom Phone license  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_campaign_phone_numbers_with_http_info(sms_campaign_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sms_campaign_id: (required)
        :param SmsCampaignIdPhoneNumbersBody body: Provide either the phone number ID or the phone number in the request body.
        :return: InlineResponse20131
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sms_campaign_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assign_campaign_phone_numbers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sms_campaign_id' is set
        if ('sms_campaign_id' not in params or
                params['sms_campaign_id'] is None):
            raise ValueError("Missing the required parameter `sms_campaign_id` when calling `assign_campaign_phone_numbers`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sms_campaign_id' in params:
            path_params['smsCampaignId'] = params['sms_campaign_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/sms_campaigns/{smsCampaignId}/phone_numbers', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20131',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_sms_campaign(self, sms_campaign_id, **kwargs):  # noqa: E501
        """Get an SMS campaign  # noqa: E501

        Use this API to get a specific SMS campaign.  **Prerequisites:**  * A Pro or higher account plan  * A Zoom Phone license  **Scopes:** `phone:read:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_sms_campaign(sms_campaign_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sms_campaign_id: (required)
        :return: InlineResponse200108
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_sms_campaign_with_http_info(sms_campaign_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_sms_campaign_with_http_info(sms_campaign_id, **kwargs)  # noqa: E501
            return data

    def get_sms_campaign_with_http_info(self, sms_campaign_id, **kwargs):  # noqa: E501
        """Get an SMS campaign  # noqa: E501

        Use this API to get a specific SMS campaign.  **Prerequisites:**  * A Pro or higher account plan  * A Zoom Phone license  **Scopes:** `phone:read:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_sms_campaign_with_http_info(sms_campaign_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sms_campaign_id: (required)
        :return: InlineResponse200108
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sms_campaign_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_sms_campaign" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sms_campaign_id' is set
        if ('sms_campaign_id' not in params or
                params['sms_campaign_id'] is None):
            raise ValueError("Missing the required parameter `sms_campaign_id` when calling `get_sms_campaign`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sms_campaign_id' in params:
            path_params['smsCampaignId'] = params['sms_campaign_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/sms_campaigns/{smsCampaignId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200108',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_account_sms_campaigns(self, **kwargs):  # noqa: E501
        """List SMS campaigns  # noqa: E501

        Use this API to list all SMS campaigns in a Zoom account.  **Prerequisites:**  * A Pro or higher account plan  * A Zoom Phone license  **Scopes:** `phone:read:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Medium`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_account_sms_campaigns(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of records returned within a single API call.
        :param str next_page_token: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        :return: InlineResponse200107
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_account_sms_campaigns_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_account_sms_campaigns_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_account_sms_campaigns_with_http_info(self, **kwargs):  # noqa: E501
        """List SMS campaigns  # noqa: E501

        Use this API to list all SMS campaigns in a Zoom account.  **Prerequisites:**  * A Pro or higher account plan  * A Zoom Phone license  **Scopes:** `phone:read:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Medium`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_account_sms_campaigns_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of records returned within a single API call.
        :param str next_page_token: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        :return: InlineResponse200107
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_size', 'next_page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_account_sms_campaigns" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'next_page_token' in params:
            query_params.append(('next_page_token', params['next_page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/sms_campaigns', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200107',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def unassign_campaign_phone_number(self, sms_campaign_id, phone_number_id, **kwargs):  # noqa: E501
        """Unassign a phone number  # noqa: E501

        Use this API to [unassign a phone number from the SMS campaign](https://support.zoom.us/hc/en-us/articles/5016496738445-SMS-MMS-10DLC-Compliance-for-Zoom-Phone-and-Zoom-Contact-Center#h_01FYVVSPVM8MZN4Y9EW5690QHH). Remove the assigned phone number from the campaign.  **Prerequisites:**  * A Business or Enterprise account  * A Zoom Phone license  * The campaign must have been previously assigned a Zoom Phone number  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.unassign_campaign_phone_number(sms_campaign_id, phone_number_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sms_campaign_id: (required)
        :param str phone_number_id: Provide either phone number (in E164 format) or phoneNumberId of the campaign.  (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.unassign_campaign_phone_number_with_http_info(sms_campaign_id, phone_number_id, **kwargs)  # noqa: E501
        else:
            (data) = self.unassign_campaign_phone_number_with_http_info(sms_campaign_id, phone_number_id, **kwargs)  # noqa: E501
            return data

    def unassign_campaign_phone_number_with_http_info(self, sms_campaign_id, phone_number_id, **kwargs):  # noqa: E501
        """Unassign a phone number  # noqa: E501

        Use this API to [unassign a phone number from the SMS campaign](https://support.zoom.us/hc/en-us/articles/5016496738445-SMS-MMS-10DLC-Compliance-for-Zoom-Phone-and-Zoom-Contact-Center#h_01FYVVSPVM8MZN4Y9EW5690QHH). Remove the assigned phone number from the campaign.  **Prerequisites:**  * A Business or Enterprise account  * A Zoom Phone license  * The campaign must have been previously assigned a Zoom Phone number  **Scopes:** `phone:write:admin`  **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Light`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.unassign_campaign_phone_number_with_http_info(sms_campaign_id, phone_number_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sms_campaign_id: (required)
        :param str phone_number_id: Provide either phone number (in E164 format) or phoneNumberId of the campaign.  (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sms_campaign_id', 'phone_number_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method unassign_campaign_phone_number" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sms_campaign_id' is set
        if ('sms_campaign_id' not in params or
                params['sms_campaign_id'] is None):
            raise ValueError("Missing the required parameter `sms_campaign_id` when calling `unassign_campaign_phone_number`")  # noqa: E501
        # verify the required parameter 'phone_number_id' is set
        if ('phone_number_id' not in params or
                params['phone_number_id'] is None):
            raise ValueError("Missing the required parameter `phone_number_id` when calling `unassign_campaign_phone_number`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sms_campaign_id' in params:
            path_params['smsCampaignId'] = params['sms_campaign_id']  # noqa: E501
        if 'phone_number_id' in params:
            path_params['phoneNumberId'] = params['phone_number_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth']  # noqa: E501

        return self.api_client.call_api(
            '/phone/sms_campaigns/{smsCampaignId}/phone_numbers/{phoneNumberId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
